<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: floralwhite;
            }
            
            
            </style>
        <title style="color:indigo">Learn More</title>
        <body>
            
            <h1 style="color:indigo">Learn More</h1>


            <h2>Curly</h2>
            <p>Type 3 hair is naturally curly and has an array of textures.  Defined and springy with a height that is more than other hair types.</p>
            <h3>3A</h3>
            <p>Your natural curls are loose, free and thick.  Your curls tend to be very well defined and quite shiny.
                product recommendations: </p>

            <h3>3B</h3>
            <p>Your hair is coarse and dense.  3B hair curls tend to have a lot of volume and the curls resemble corkscrew.
                product recommendations:  Humidity blocking style cream.
            </p>

            <h3>3C</h3>
            <p>Type 3C hair is very dense with tightly packed corkscrew curls.  Be cautious as this hair type is prone to a lot of shrinkage and has the most volume.
                product recommendations: 
            </p>

            
            <h2>Coils</h2>
            <p>Type 4A hair is coarse, thin and fine.  While this hair type may seem thick it is actually the opposite.  </p>

            <h3>4A</h3>
            <p>4a hair is the most fragile because of how few cuticle layers it has to protect it from dryness.  Your main concerns will be shrinkage, tangling and keeping it moisturized.
                product recommendations:
            </p>

            <h3>4B</h3>
            <p>Your curls are less defined and a lot tighter than other styles.  4B hair bends in sharp angles as opposed to curling.  Strands that range from fine and thin to coarse.
                product recommendations: Coconut oil and castor oil.
            </p>

            <h3>4C</h3>
            <p>Your hair is densley packed.  4C hair is less defined and experiences more shrinkage but is similar to 4B hair.  A delicate hair texture.  Ranges from super fine and thin to coarse.
                product recommendations:  
            </p>


        </body>
    </head>
</html>